@import '../../Constants/Styles/constants.scss';

.header {
    position: relative;
    top: 0;
    height: $header-height;
    width: 100%;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    font-family: 'Monseratt', sans-serif;
    color: $black;
    height: calc($header-height + 1rem);

    @include r(425) {
        padding: 0 1rem;

        @include r(375) {
            padding: 0 0.5rem;
        }
    }

    &-logo, &-cart {
        width: 25%;

        @include r(425) {
            width: auto;
        }
    }

    &-logo {
        font-size: 16px;

        @include r(425) {
            width: 5rem;
        }

        .logo-link {
            text-decoration: none;
            color: $black;

            span {
                font-weight: 600;
                margin-left: 0.2rem;
                font-size: 18px;
                color: $blue;
            }
        }
    }

    &-nav {
        width: 50%;

        ul {
            display: flex;
            justify-content: center;
            padding: 0;
            margin: 0;

            li {
                list-style-type: none;
                padding: 1rem;

                @include r(425) {
                    padding: 1rem 0.5rem;
                }

                .link {
                    font-family: 'Monseratt', sans-serif;
                    line-height: 1.8;
                    font-size: 16px;
                    font-weight: 500;
                    outline: none;
                    text-decoration: none;
                    transform: all 0.15s linear;
                    color: $black;

                    &:hover {
                        color: $blue;
                    }

                    &.active { 
                        color: $blue;
                    }
                }
            }
        }
    }

    &-cart {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @include r(425) {
            flex-direction: column;
        }

        .auth-email {
            margin-bottom: 0.5rem;
            margin-right: 1rem;

            @include r(375) {
                margin-right: 0;
                word-break: break-all;
            }
        }
    }
}

.btn-white {
    display: flex;
    justify-content: center;
    outline: none;
    border: none;
    cursor: pointer;
}

.logout {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}